{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/core.async {:mvn/version "0.4.490"}
        com.rpl/specter {:mvn/version "1.1.1"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        org.suskalo/discljord {:mvn/version "0.2.5"}}
 :paths ["src" "resources"]}
